body {
	margin-bottom: 20px;
}

/* CSS Menu */
.menu {
	background-color: #36D40F;
}

.navbar-default {
	background-color: #36D40F;
	border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;    
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}


/* Css Paragrafo */
p {
	font-size: 22px;
	font-family: "Arial, helvetica, sans-serif";
}
