/* CSS Menu */
.menu {
	background-color: #36D40F;
	height: 55px;
	margin-bottom: 20px;
}

.navbar-default {
	background-color: #36D40F;
	border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;    
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}


/* Css Paragrafo */
p {
	font-size: 22px;
	font-family: "Arial, helvetica, sans-serif";
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    background-color: #2a2730;
}
